.datatable{
    height: 600px;
    padding: 20px;

    .datatableTitle{
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px ;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links{
            text-decoration: none;
            color: green;
            padding: 5px;
            font-size: 15px;
            font-weight: 400;
            border: 1px solid green;
            border-radius: 5px;

        }
    }

    .cellWithImages{
        display: flex;
        align-items: center;

        .cellImages{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
   
            color: green;
            background-color: rgba(0, 128, 0, 0.05);
        }
        &.pending{
            
            color: goldenrod;
            background-color: rgba(255, 217, 0, 0.05);
        }
        &.passive{
            color: crimson;
            background-color: rgba(255, 0, 0, 0.05);
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            cursor: pointer;
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 0.5px dotted rgba(0, 0, 139, 0.596);
        }
        .deleteButton{
            cursor: pointer;
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 0.5px dotted rgba(220, 20, 60, 0.596);
        }
    }

}
